
<div class="app-to-do-list">

    <h1>{{title}}</h1>

    <div class="status">{{title}} app is running!</div>
    
    <ul class="filter">
        <li><button class="btn btn-secondary" (click)="filter('All')">All</button></li>
        <li *ngFor="let cat of filterList" (click)="filter(cat.value)"><button class="btn btn-secondary">{{cat.value}}</button></li>
    </ul>

    <div class="list">
        <div *ngFor="let item of modifiedTodoList">
            <div class="list-details"> 
                <input type="checkbox" name="done" (change)="toggleDone(item.id, $event.target.checked)" [checked]="item.done != false">&nbsp;
                {{item.label}}
            </div>
            <div class="list-options">
                <button class="btn btn-primary" (click)="editTask(item.id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteTask(item.id)">Delete</button>
            </div>
        </div>
    </div>

    <div id="edit-task" class="add-task" [hidden]="!showEdit">
        <h2>Edit the Todo <button class="btn float-right" (click)="showEdit = false">Close</button></h2>
        <form [formGroup]="listFormEdit" (ngSubmit)="submitEditTask()" >
            <label for="label">Label: </label>
            <input id="label" type="text" formControlName="label" name="label">
            <label for="description">Description: </label>
            <input id="description" type="text" formControlName="description">
            <label for="category">Category: </label>
            <input id="category" type="text" formControlName="category">
            <button class="btn btn-primary" [disabled]="!listFormEdit.valid">Edit</button>
        </form>
        <div [hidden]="!successEdit">Todo successfully edited</div>
    </div>

    <div class="add-task">
        <h2>Add a new Todo</h2>
        <form [formGroup]="listFormAdd" (ngSubmit)="addTask()" >
            <label for="label">Label: </label>
            <input id="label" type="text" formControlName="label">
            <label for="description">Description: </label>
            <input id="description" type="text" formControlName="description">
            <label for="category">Category: </label>
            <input id="category" type="text" formControlName="category">
            <button class="btn btn-primary" [disabled]="!listFormAdd.valid">Add</button>
        </form>
        <div [hidden]="!successAdd">Todo successfully added</div>
    </div>

</div>